[user]
	email = ripx80@protonmail.com
	name = ripx80
[push]
	default = matching

[http]
	sslCAinfo = /etc/ssl/certs/ca-certificates.crt

[alias]
       permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
       wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
